@import url("../fonts/inter/inter-web/inter.css");
@font-face {
	font-family: "Ubuntu Mono";
	src: url("../fonts/ubuntu-mono/UbuntuMono-Regular.ttf") format("truetype");
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
:root {
	--bg: #282828;
	--bg2: #32302f;
	--fg: #ebdbb2;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--purple: #b16286;
	--aqua: #689d6a;
	--gray: #a89984;
	--orange: #d65d0e;
	--link: var(--green);
	--link_v: var(--green);
	--link_h: var(--aqua);
	--bg_grey: var(--bg2);
	--dark_grey: var(--bg);
	--date: var(--purple);
}
[data-theme="light"] {
	--bg: #fbf1c7;
	--bg2: #f2e5bc;
	--fg: #3c3836;
	--red: #cc241d;
	--green: #79740e;
	--yellow: #b57614;
	--blue: #076678;
	--purple: #8f3f71;
	--aqua: #427b58;
	--gray: #7c6f64;
	--orange: #af3a03;
	--link: var(--green);
	--link_v: var(--green);
	--link_h: var(--aqua);
	--bg_grey: var(--bg2);
	--dark_grey: var(--bg);
	--date: var(--purple);
}
iframe {
	display: block;
	width: 45em;
	height: 25em;
	max-width: 100% !important;
	border-style: none;
	background-color: var(--bg);
	margin: 0 auto;
}
.logo {
	max-height: 40px
}
a.sitename:hover {
	color: var(--green);
	text-decoration: underline;
}
.red {
	color: var(--red);
}
body {
	color: var(--fg);
	font-family: 'Inter400', sans-serif;
	font-size: 12px;
	padding: 1em;
	margin: auto;
	max-width: 45em;
	background: var(--bg);
}
.menu {
	border-bottom: 2px solid var(--blue);
}
h2 {
	color: var(--blue);
	text-decoration: none;
}
h3 {
	color: var(--yellow);
	text-decoration: none;
}
h4 {
	color: var(--gray);
	text-decoration: none;
}
h1 a {
	color: var(--green);
}
a {
	color: var(--link);
	text-decoration: none;
}
a:visited {
	color: var(--link_v);
}
a:hover {
	color: var(--link_h);
	cursor: pointer;
	text-decoration: underline;
}
a:active {
	color: var(--link_h);
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0em;
	font-weight: 600;
}
h1 {
	font-family: 'Inter600', sans-serif;
	font-size: 2.2em;
	color: var(--green);
	text-decoration: none;
}
h2 {
	font-size: 1.8em;
	display: flex;
	align-items: flex-start;
	text-align: left;
}
h2:after {
	content: '';
	flex-grow: 1;
	height: 2px;
	background: var(--blue);
	min-width: 20px;
	margin: auto;
	margin-left: 20px;
}
h3 {
	font-size: 1.6em;
	display: flex;
	align-items: flex-start;
	text-align: left;
}
h3:after {
	content: '';
	flex-grow: 1;
	height: 2px;
	background: var(--yellow);
	min-width: 20px;
	margin: auto;
	margin-left: 20px;
}
h4 {
	font-size: 1.4em;
	display: flex;
	align-items: flex-start;
	text-align: left;
}
h4:after {
	content: '';
	flex-grow: 1;
	height: 2px;
	background: var(--gray);
	min-width: 20px;
	margin: auto;
	margin-left: 20px;
}
h5, h6 {
	font-size: 1.2em;
	font-weight: 600;
	color: var(--fg);
	line-height: 1em;
}
blockquote {
	color: var(--fg);
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em var(--dark_grey) solid;
}
pre, code, kbd, samp {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 0.98em;
}
code {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: var(--bg_grey);
	color: var(--fg);
	padding: 1px;
	border-radius: 1px;
}
pre>code {
	display: block;
	padding: 5px 10px;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}
li p:last-child {
	margin: 0;
}
dd {
	margin: 0 0 0 2em;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100% !important;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}
@media only screen and (max-width: 650px) {
	body {
		font-size: 14px;
	}
	.logo {
		max-height: 40px;
		position: relative;
		top: -7px;
	}
	.sitename {
		display: none;
	}
	article {
		margin: 15px 0;
	}
}
@media only screen and (min-width: 650px) {
	body {
		font-size: 16px;
	}
	.logo {
		max-height: 42px;
		position: relative;
		top: -8px;
	}
	.sitename {
		position: relative;
		top: -5px;
		font-size: 1.6em;
		font-weight: bold;
	}
	article {
		margin: 30px 0;
	}
}
@media print {
	* {
		background: transparent !important;
		color: black !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	body {
		font-size: 12pt;
		max-width: 100%;
	}
	a, a:visited {
		text-decoration: underline;
	}
	hr {
		height: 1px;
		border: 0;
		border-bottom: 1px solid black;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid var(--dark_grey);
		padding-right: 1em;
		page-break-inside: avoid;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
nav ul li {
	/* This allow us to arrange list items in a row, without using float */
	display: inline-block;
	list-style-type: none;
}
/* Create a style for the first level items */

nav>div>ul>li>a {
	color: var(--fg) !important;
	display: block;
	line-height: 2em;
	padding: 0.5em 0em;
	text-decoration: none;
	position: relative;
}
nav>div.nav-right>ul>li>a {
	padding: 0.5em 0.5em;
}
nav>div>ul>li>a:hover {
	color: var(--link_h) !important;
}
.nav-left {
	float: left;
}
.nav-left ul li {
	float: left;
}
.nav-right ul li {
	float: right;
}
.logo {
	margin-right: 1em
}
article img {
	margin: 1em 0;
}
.date {
	font-size: 14px;
	color: var(--date);
}
ul.articles {
	list-style: none;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
ul.articles li {
	padding-bottom: 10px;
}
#Articles {
	margin-top: 2em;
}
.tag {
	color: var(--purple);
}
footer {
	font-size: 12px;
}
.foot {
	border-top: 2px solid var(--blue);
}
a.tag, a.tag:hover {
  color: var(--aqua) !important;
  background-color: var(--bg2);
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 1.8em;
}
